$page-bg-color: #F7FFF8;

$input-bg-color: #C8E6C9;
$input-bg-color-active: #D3F2D4;
$input-border-color: #7f8e80;
$input-border-color-active: #77bf7c;

$suggestions-bg-color: white;
$search-result-bg-color-hover: #EEEEEE;

$icon-color: #616161;
$text-color: #212121;

$form-error-color-border: red;



/* Color Theme Swatches in Hex */
$Fashion-1: #A6868C;
$Fashion-2: #011126;
$Fashion-3: #6C7A8C;
$Fashion-4: #474F59;
$Fashion-5: #BFBFBF;