@import "../../styles/color";
@import "../../styles/input";

* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: $text-color;
}


.input-wrapper {
    background: $input-bg-color;
    border-radius: 5px;
    display: flex;
    border: 1px solid #9E9E9E;
    width: fit-content;
    &:hover {
        background: $input-bg-color-active;
        .search-field {
            background: $input-bg-color-active;
        }
    }

    .icon {
        padding-left: 10px;
        svg {
            margin-top: 11px;
        }
    }
}

.search-result {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover, &[data-hover='true']{
        background: $search-result-bg-color-hover;
    }

    & > div {
        margin: 0 10px 0 0;
    }
}


.suggestions {
    width: 333px;
    border-radius: 5px;
    top: 58px;
    display: none;
    border: 1px solid black;
    list-style: none;
    z-index: 2;

    &[data-isopen="true"] {
        display: block;
        position: absolute;
        background: $suggestions-bg-color;
    }

    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

