.search-field {
    width: 300px;
}

.search-result {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: gray;
    }

    & > div {
        margin: 0 10px 0 0;
    }
}


.suggestions {
    width: 300px;
    display: none;
    border: 1px solid black;
    list-style: none;

    &[data-isopen="true"] {
        display: block;
    }

    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

